.head{
height: 100px;
background-color: red;
}
.container{
overflow: hidden;
}
.blog{
float: left;
width: 70%;
height: 150px;
background-color: green;
}
.contact{
float: right;
width: 25%;
height: 150px;
background-color: blue;
}

.foot{
height: 100px;
background-color: black;